#rewards {
  max-width: 73.3125rem;
  width: 100%;
  padding-block: 2.2rem;
  min-height: 48.2vh;
  row-gap: 1.9rem;
  display: flex;
  flex-direction: column;
}
#rewards .title {
  color: #fff;
  font-family: TF2 Build;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  row-gap: 0.79rem;
}
#rewards .title .label {
  color: #afafaf;
  font-family: TF2 Secondary;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#rewards .content {
  /* height: 20rem; */
  width: 100%;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  position: relative;
  padding-block: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 1.5rem;
  padding-left: 1rem;
  overflow-x: hidden;
}
#rewards .content::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgba(255, 181, 70, 0.4) 0%,
      rgba(88, 87, 85, 0) 100%
    ),
    #5c5c5a;
  border: 1px solid;
  z-index: -1;
  border-image-source: linear-gradient(180deg, #252525 0%, #757573 100%);
  opacity: 0.35;
  border-image-slice: 1;
}
/* #rewards */
#rewards .content .rewards {
  height: 17rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
}
#rewards .content .rewards .progress {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7.5rem;
  height: 100%;
  position: relative;
  /* background: red; */
  /* height: 1rem; */
  color: black;
  width: 100%;
}
.bar {
  position: absolute;
  height: 0.125rem;
  /* width: calc(562.5rem + (75 * 2.25rem)); */
  width: 100%;
  border: 1px solid #252525;
  background: rgba(74, 74, 74, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  /* z-index: -1; */
}
.bar .fill {
  height: 0.125rem;

  /* background: #ffb546; */
}
::-webkit-scrollbar {
  display: none;
}

.timeline .items {
  display: flex;
  align-items: end;
  width: 100%;
  gap: 2.69rem;
  position: absolute;
  right: 0;
  top: -14.5rem;
  left: 0;
  height: 13rem;
  margin-left: 5.5rem;
}
.timeline .items .item {
  width: 5.875rem;
  /* height: 3.2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
.timeline .items .item.notRedeemed {
  /* background-image: url(../img/rewards/tooltipNotActive.svg); */
  background-position: end;
  background-size: contain;
  background-repeat: no-repeat;
}
.timeline .items .item.even {
  width: 8.25rem;
  background-image: none;
  height: fit-content;
  /* margin-top: -7.5rem; */
  min-height: 10.5 !important;
}
.timeline .items .item .odd {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timeline .items .item .odd img {
  margin-inline: -1.2rem -1rem;
  width: 4rem;
}
.timeline .items .item .evenContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.timeline .items .item.even .imageContainer {
  width: 8.25rem;
  height: 8.25rem;
}
.timeline .items .item.even .imageContainer img {
  width: 8.25rem;
}
.timeline .items .item .buttons {
  height: 2.25rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.timeline .items .item.even .buttons .btn {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.15));
  height: 100%;
}

.timeline .items .item.even .buttons .btn button {
  background: #777773;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.38rem;
  height: 100%;
  color: #bcbcba;
  font-family: TF2 Build;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  padding-inline: 0.75rem;
  line-height: normal;
}
.timeline .items .item.even .buttons .btn.activeNotOpened button {
  background: #ffb546;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 10px rgba(255, 181, 70, 0.4));
  color: #fff;
}

.timeline .items .item.even .buttons .btn.opened {
  filter: none;
}
.timeline .items .item.even .buttons .btn.opened button {
  background: rgba(255, 181, 70, 0.2);
  color: #ffb546;
}
.imageContainer.opened {
  opacity: 0.6;
}
.pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  height: 2.25rem;
}
.pagination .btn {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.15));
}
.pagination a {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #777773;
  cursor: pointer;
}
.pagination a:hover {
  opacity: 0.8;
}
.pagination .left,
.pagination .right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pagination .right a {
  transform: rotateY(180deg);
}
.pagination .center .progressXp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5px;
  width: fit-content;
  height: 2.25rem;

  background: linear-gradient(180deg, #252525 0%, #757573 100%);
}
.pagination .center .progressXp .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background: rgba(83, 83, 81, 255);
  width: 100%;
  height: 100%;
  color: #bfa798;
  font-family: 'TF2 Build';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-inline: 0.81rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
}
.pagination .center .progressXp .inner span {
  color: #ffb546;
}

.timeline {
  position: relative;
  width: 100%;
  height: 0.125rem;
  /* background: linear-gradient(180deg, #252525 0%, #757573 100%),
    linear-gradient(0deg, rgba(74, 74, 74, 0.35), rgba(74, 74, 74, 0.35)); */
  overflow-x: visible;
  overflow-y: visible;
  margin-bottom: 1.1rem;
  /* margin-right: 3rem; */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* background: #ffb546; */
  transition: width 0.3s ease;
}

.level-checkpoints {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* width: calc(562.5rem + (75 * 2.25rem)); */
  width: 100%;
  display: flex;
  align-items: center;
  gap: 9rem;
  padding-left: 8.75rem;
}

.level-checkpoint {
  flex-grow: 1;
  text-align: center;
  color: #666;
  font-size: 12px;
  box-sizing: border-box;
  width: 2.25rem;
  min-width: 2.25rem;
  max-width: 2.25rem;

  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  background: linear-gradient(180deg, rgb(51, 51, 51, 0.6) 0%, rgb(117, 117, 115, 0.65) 100%);
  padding: 1px;
}
.level-checkpoint .inner {
  background: #52514f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afafaf;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.level-checkpoint.active {
  background: #ffb546;
}
.level-checkpoint.active .inner {
  background: #7d6a4d;
  color: #ffb546;
}
.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
