* {
  font-family: "Rubik", sans-serif;
}

.container-class {
  width: 100%;
}


/* Custom Dropdown */

.custom-dropdown {
  position: relative;
  width: max-content;
}

.custom-dropdown .dropdown-trigger {
  background: #620101;
  color: white;
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  min-width: max-content;
  border: 1px solid transparent;
}

.custom-dropdown.sm-dropdown .dropdown-trigger {
  border-radius: 2px;
}

.custom-dropdown .dropdown-trigger span {
  font-size: 16px;
  font-weight: 800;
}

.custom-dropdown.sm-dropdown .dropdown-trigger span {
  font-size: 14px;
  font-weight: 600;
}

.custom-dropdown .dropdown-trigger:hover {
  background: #620101;
}

.custom-dropdown .dropdown-trigger .label {
  opacity: 0.5;
  white-space: nowrap;
}

.custom-dropdown .chevron {
  margin-left: auto;
  font-size: 12px;
  color: white;
  opacity: 0.8;
}

.custom-dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background: #310000;
  z-index: 100;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  max-height: 400px;
  overflow-y: auto;
}

.custom-dropdown .dropdown-menu li {
  padding: 10px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  list-style: none;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.custom-dropdown.sm-dropdown .dropdown-menu li {
  border-radius: 0px;
  font-size: 14px;
  font-weight: 600;
}

.custom-dropdown .dropdown-menu li:hover {
  background: #620101;
}

.custom-dropdown .dropdown-menu li.active-item {
  background: #ff3435;
  font-weight: 900;
}

.custom-dropdown .dropdown-menu::-webkit-scrollbar {
  width: 2px;
}

.custom-dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  background: #ff3435;
}

/* Badges */
.badge {
  padding: 4px;
  background: #310000;
  text-align: center;
  width: max-content;
  font-size: 10px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  font-family: "rubik";
}

.badge.yellow {
  background: #febd11;
}

.badge.green {
  background: #04aa53;
}

.badge.red {
  background: #ff3435;
}

/* Table btn */
.table-btn {
  background: #310000;
  color: white;
  font-weight: 800;
  padding: 6px 12px;
  font-size: 10px;
}

.table-btn.yellow {
  background: #FEBD11;
}

.table-btn.red {
  background: #ff3435;
}

.table-btn.green {
  background: #04ab53;
}

.table-btn.blue {
  background: #72B5FF;
}

/* Theme Btn */
.theme-btn {
  border: 0.5px solid #ff3435;
  padding: 10px;
  background: #620101;
  border-radius: 2px;
  text-align: center;
  width: max-content;
  font-weight: 500;
  color: white;
  font-family: "rubik";
  white-space: nowrap;
}

.theme-btn.active {
  background: #ff3435;
}

.theme-btn.yellow {
  background: #febd11;
}

/* Table CSS */
.table-container {
  max-width: 100%;
  width: 100%;
  background: transparent;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
  /* overflow: auto; */
}

.table-container .table-title {
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.table-wrapper {
  background: #310000;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch; */
}

.table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #1a0000;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #ff3435;
  border-radius: 10px;
}

.table-wrapper .theme-table {
  width: 100%;
  min-width: 640px;
  border-collapse: collapse;
  font-size: 12px;
  white-space: nowrap;
}


.table-wrapper .theme-table th {
  border-bottom: 0.5px solid #ff343580;
  padding-bottom: 15px;
  margin-bottom: 4px;
  cursor: pointer;
  min-width: max-content;
  transition: .3s all;
  /* max-width: calc(100% + 30px) !important; */
  text-align: left;
  color: white;
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
  padding-right: 10px;
  white-space: nowrap;
}

.table-wrapper .theme-table th .sorting-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.table-wrapper .theme-table th span {
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
}

.table-wrapper .theme-table th:hover {
  opacity: 0.8;
}

.table-wrapper .theme-table th .sorting-icon {
  width: 16px;
}

.table-wrapper .theme-table thead tr th:last-child,
.table-wrapper .theme-table tbody tr td:last-child {
  padding-right: 0px !important;
  width: max-content;
}

.table-wrapper .theme-table td {
  padding: 2px 0;
  color: white;
  font-weight: 700;
  padding-right: 15px;
  font-size: 10px;
  vertical-align: middle;
}

.table-wrapper .theme-table td span {
  color: white;
  font-weight: 700;
  font-size: 10px;
}

.table-wrapper .theme-table tbody tr:nth-child(even) {
  background-color: #5c000066;
}

.table-wrapper .theme-table tbody tr:first-child td {
  padding-top: 4px !important;
}

.table-wrapper .theme-table tbody tr:last-child td {
  padding-bottom: 4px !important;
}

.table-wrapper .img-cell {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  font-weight: 800;
  font-size: 10px;
  /* min-width: 100px; */
}

.table-wrapper .img-cell img {
  max-width: 20px;
  max-height: 20px;
  border-radius: 2px;
}

.table-wrapper .coin-icon {
  width: 14px;
}

.table-wrapper .table-btn {
  background: #310000;
  color: white;
  font-weight: 800;
  padding: 6px 12px;
  font-size: 10px;
}

.table-wrapper .table-btn.yellow {
  background: #FEBD11;
}

.table-wrapper .table-btn.red {
  background: #ff3435;
}

.table-wrapper .table-btn.green {
  background: #04ab53;
}

.table-wrapper .table-btn.blue {
  background: #72B5FF;
}

.table-wrapper .action-cell {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: max-content;
  justify-content: space-between;
}

.table-wrapper .timer {
  background: #620101;
  color: white;
  font-weight: 800;
  padding: 6px 12px;
  border-radius: 2px;
  font-size: 10px;
  opacity: 0.7;
}

.table-wrapper .status {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
}

.table-wrapper .status.capitalize {
  text-transform: capitalize;
}

.table-wrapper .status.green {
  color: #04aa53;
}

.table-wrapper .status.red {
  color: #ff3435;
}

.table-wrapper .status.yellow {
  color: #febd11;
}

/* Modals */
.table-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.table-container .modal-content {
  background: #310000;
  border: 1px solid #ff3435;
  padding: 30px;
  border-radius: 4px;
  min-width: 400px;
}

input {
  color: white;
}

/* ... Pagination Table Footer ... */
/* 
.pagination-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 15px 0 0;
  color: white;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  border-top: 0.5px solid #ff343580;
}

.pagination-nav {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.pagination-nav p {
  text-transform: capitalize;
  opacity: 0.5;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
  color: white;
  transition: opacity 0.2s;
}



.pagination-nav:hover p {
  opacity: 1;
}

.chevron {
  font-size: 18px;
  color: white;
}

.pagination-numbers {
  display: flex;
  gap: 14px;
}

.page-num {
  cursor: pointer;
  opacity: 0.5;
  font-size: 16px;
  color: white;
  font-weight: 700;
  transition: all 0.2s;
}

.page-num.active {
  opacity: 1;
}

.page-num:hover {
  opacity: 1;
}

.rows-selector {
  position: absolute;
  right: 0;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
  color: white;
  font-size: 12px;
}

.rows-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
} */
@media (max-width: 767px) {
  .pagination-nav p {
    display: none;
  }

  .pagination-footer {
    gap: 20px;
  }

  .theme-btn {
    padding: 7px;
  }
}

/* Toggle Card */
.toggle-container {
  font-family: "Rubik", sans-serif;
  width: 100%;
}

.toggle-card {
  background-color: #620101;
  padding: 11px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.toggle-card h2 {
  color: white;
  font-size: 10px;
  font-weight: 800;
}

.toggle-card .switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}

.toggle-card .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-card .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff3435;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-card .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-card input:checked+.slider {
  background-color: #04ab53;
}

.toggle-card input:checked+.slider:before {
  transform: translateX(12.5px);
}

.toggle-card .status-green {
  color: #04ab53;
  font-size: 10px;
  font-weight: 800;
}

.toggle-card .status-red {
  color: #ff3435;
  font-size: 10px;
  font-weight: 800;
}

.toggle-card .card-count {
  background-color: #420101;
  padding: 6px 4px;
  width: 100%;
  margin-top: 3px;
}

/* Stat Card */
.stat-card {
  border: 0.5px solid #ff3435;
  padding: 12px;
  background: #310000;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.stat-card img {
  width: 16px;
  height: 16px;
}

.stat-card h2,
.stat-card h2 span {
  font-size: 10px;
  color: white;
  font-weight: 800;
}

.stat-card h2 span {
  color: #04ab53;
}

/* More Info Page */

.more-info-page {
  width: 100%;
  background-color: #420101;
  border: 1px solid #620101;
  display: flex;
  position: relative;
}

.moreinfo-container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  overflow: hidden;
}

.moreinfo-container .table-wrapper {
  overflow-x: auto;
  background: transparent;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
}

.moreinfo-container .filters-wrap {
  margin: 0 0 20px !important;
}

/* Items Input */
.icon-input-wrap {
  position: relative;
  background-color: transparent;
  height: max-content;
}

.icon-input-wrap .icon-img {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.icon-input-wrap input::placeholder {
  color: white;
  opacity: 0.5;
}

.icon-input-wrap input {
  background: #2f0101;
  width: 100%;
  padding: 12px;
  outline: none;
  padding-left: 40px;
  color: white;
}

/* Items Card */
.item-card {
  width: 127px;
  height: 134px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 12px;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #ff3435;
  background-color: #690405;
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
}

.item-card:hover {
  background-color: #8f0e0e;
}

.item-card span {
  font-size: 14px;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  white-space: wrap;
}

.item-card h2 {
  font-size: 16px;
  font-weight: 800;
  color: white;
}

.item-card.active {
  background-color: #8f0e0e;
  border-color: #8650ac;
}

.item-card.active span {
  opacity: 1;
}

.item-card .time-text {
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  top: 0;
  color: white;
  opacity: 0.5;
  left: 0;
  width: 100%;
  padding-top: 8px;
  text-shadow: 0px 1px 5px 0px #000000;
}

.item-card.banned {
  border-color: transparent;
  cursor: not-allowed;
  background-color: #2f0101;
}

.item-card.banned:hover {
  background-color: #2f0101;
}

.item-card.banned::after {
  content: '';
  width: 76px;
  height: 76px;
  max-width: 100%;
  max-height: 100%;
  background: url('/img/icons/ban.png') no-repeat center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-card.banned::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2f0101;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Input */
input:focus {
  outline: 1px solid #ff3435;
}

input::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

/* Button Space */
button {
  white-space: nowrap;
}

/* Graph dropdown design */
.dropdown-list-container {
  position: absolute;
  top: 102%;
  left: 0;
  background: #620101;
  border: 1px solid #ff34344b;
  border-radius: 2px;
  width: 200px;
  z-index: 1000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}


.dropdown-item {
  padding: 10px 16px;
  font-family: "rubik";
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
}

.dropdown-item span {
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background: #ff3435;
}

.rotate-180 {
  transform: rotate(180deg);
}

.dropdown-mock {
  background: #620101;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid transparent;
  transition: 0.3s;
  white-space: nowrap;
}

.dropdown-mock:hover,
.dropdown-mock.active {
  border-color: #ff3435;
  background-color: #ff3435;
}